<div class="container c-brand-grey-para py-15">
    
    <!-- // STICKY FOOTER// -------------------->
    <nav class="haz_footer navbar fixed-bottom p-2">
        <div class="container-fluid mt-2 mb-2">
            <div class="d-flex">    
                <!-- Opt-in/toggle -->
                <div class="haz_ft_1">
                    <span>OPT</span>
                    <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <div class="handle"></div>
                    </button>
                    <!-- <span>OPT-in</span> -->
                </div>
                <!-- Cardex infos -->
                <!-- <div class="haz_ft_2 pl-3 flex-grow-1">
                    <b>Last update :</b><br/>PMS - 2020.03.24 - 10:24
                </div> -->
                <!-- New Message -->
                <div class="float-right haz_ft_3 pr-1" (click)="navigateTo('message')">
                    <i class="ux_msg haz_ui_link fas fa-paper-plane"></i>   
                </div>
            </div>
        </div>    
    </nav>        
    <!-- // /End STICKY FOOTER// -------------------->
</div>